/mysite/live_data/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.csv
!pakistan.csv
!*pakistan.csv

dash_app_canadian_watersheds.py
dash_app_canadian_grid.py

*.geojson
!pakistan_grid.geojson
!pakistan_watersheds_level7.geojson